body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1rem;
}

nav li {
    display: contents;
}

nav {
  display: flex; 
  margin-bottom: 1rem;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1; 
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200); 
  padding-bottom: 0.1em; 
}

:root {
  --color-accent: oklch(85% 30% 120); 
}

html {
  accent-color: var(--color-accent); 
}