body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1rem;
}

nav li {
    display: contents;
}

nav {
  display: flex; 
  margin-bottom: 1rem;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1; 
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200); 
  padding-bottom: 0.1em; 
}

:root {
  --color-accent: oklch(74.28% 0.1253 262.11); 
}

html {
  accent-color: var(--color-accent); 
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent); 
  background-color: oklch(from var(--color-accent) 95% 5% h)
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em; 
}

label {
  display: grid;
  grid-template-columns: subgrid; 
  grid-column: 1 / -1;
}

button {
  grid-column: 1 / -1;
}

input, textarea, button {
  font: inherit; 
  display: block;
  width: 100%; 
  box-sizing: border-box;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr)); 
  gap: 1em;
}

article {
  display: grid;
  grid-template-rows: subgrid; 
  grid-row: span 3; 
  gap: 1em;
}

h2 {
  margin: 0;
}

h1 {
  font-size: 400%; 
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance; 
}